alabaster
apeye
apeye-core
autodocsumm
babel
beautifulsoup4
cachecontrol
certifi
charset-normalizer
click
colorama
cssutils
dict2css
dist-meta
docutils
dom-toml
domdf-python-tools
filelock
furo
handy-archives
html5lib
idna
imagesize
jinja2
markdown-it-py
markupsafe
mdit-py-plugins
mdurl
more-itertools
msgpack
myst-parser
natsort
packaging
platformdirs
prompt-toolkit
pygments
pypi-json
pyyaml
questionary
requests
rich
roman-numerals-py
ruamel-yaml
ruamel-yaml-clib
seed-intersphinx-mapping
shippinglabel
six
snowballstemmer
soupsieve
sphinx
sphinx-autodoc-typehints
sphinx-basic-ng
sphinx-collections
sphinx-jinja2-compat
sphinx-prompt
sphinx-tabs
sphinx-toolbox
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tabulate
tomlkit
typing-extensions
urllib3
wcwidth
webencodings
