alabaster ; python_version  "3.12"
apeye-core ; python_version  "3.12"
apeye ; python_version  "3.12"
autodocsumm ; python_version  "3.12"
babel ; python_version  "3.12"
beautifulsoup4 ; python_version  "3.12"
cachecontrol ; python_version  "3.12"
certifi ; python_version  "3.12"
charset-normalizer ; python_version  "3.12"
click ; python_version  "3.12"
colorama ; (platform_system  "Windows" or sys_platform  "win32") and python_version  "3.12"
cssutils ; python_version  "3.12"
dict2css ; python_version  "3.12"
dist-meta ; python_version  "3.12"
docutils ; python_version  "3.12"
dom-toml ; python_version  "3.12"
domdf-python-tools ; python_version  "3.12"
filelock ; python_version  "3.12"
furo ; python_version  "3.12"
handy-archives ; python_version  "3.12"
html5lib ; python_version  "3.12"
idna ; python_version  "3.12"
imagesize ; python_version  "3.12"
jinja2 ; python_version  "3.12"
markdown-it-py ; python_version  "3.12"
markupsafe ; python_version  "3.12"
mdit-py-plugins ; python_version  "3.12"
mdurl ; python_version  "3.12"
more-itertools ; python_version  "3.12"
msgpack ; python_version  "3.12"
myst-parser ; python_version  "3.12"
natsort ; python_version  "3.12"
packaging ; python_version  "3.12"
platformdirs ; python_version  "3.12"
prompt-toolkit ; python_version  "3.12"
pygments ; python_version  "3.12"
pypi-json ; python_version  "3.12"
pyyaml ; python_version  "3.12"
questionary ; python_version  "3.12"
requests ; python_version  "3.12"
rich ; python_version  "3.12"
roman-numerals-py ; python_version  "3.12"
ruamel-yaml-clib ; python_version  "3.12" and platform_python_implementation  "CPython"
ruamel-yaml ; python_version  "3.12"
seed-intersphinx-mapping ; python_version  "3.12"
shippinglabel ; python_version  "3.12"
six ; python_version  "3.12"
snowballstemmer ; python_version  "3.12"
soupsieve ; python_version  "3.12"
sphinx-autodoc-typehints ; python_version  "3.12"
sphinx-basic-ng ; python_version  "3.12"
sphinx-collections ; python_version  "3.12"
sphinx-jinja2-compat ; python_version  "3.12"
sphinx-prompt ; python_version  "3.12"
sphinx-tabs ; python_version  "3.12"
sphinx-toolbox ; python_version  "3.12"
sphinx ; python_version  "3.12"
sphinxcontrib-applehelp ; python_version  "3.12"
sphinxcontrib-devhelp ; python_version  "3.12"
sphinxcontrib-htmlhelp ; python_version  "3.12"
sphinxcontrib-jsmath ; python_version  "3.12"
sphinxcontrib-qthelp ; python_version  "3.12"
sphinxcontrib-serializinghtml ; python_version  "3.12"
tabulate ; python_version  "3.12"
tomlkit ; python_version  "3.12"
typing-extensions ; python_version  "3.12"
urllib3 ; python_version  "3.12"
wcwidth ; python_version  "3.12"
webencodings ; python_version  "3.12"
