.. rubric:: Pydantic Model Config

{% for child in obj.children %}
  {% if child.name == "model_config" %}
    .. code-block:: python

       {{ child.docstring | indent(4) }}
  {% endif %}
{% endfor %}
